body {
    margin: 0;
    color: whitesmoke;
}
body,.right,.left{
    background-color: #F2B880;
}

canvas{
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index:1;
}

h1,h2{
    width: 100%;
    text-align: center;
    z-index: 2;
    position: relative;
}

#menu{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#page{
    width: 100%;
    display:flex;
}

.arrow{
    font-size: 2em;
    width: calc(100vw/3);
    text-align: center;
    height: 100%;
    line-height: 400px;
}

.demoContent{
    width: calc(100vw/3);
    margin-inline: 2%;
    position: relative;
    background-color: #966B9D;
    padding: 2%;
}

.overlay {
    position:relative;
    z-index: 2;
}

#selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    height: 400px;
}
.right,.left{
    z-index: 3;
}